<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Productos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container mt-5">
            <h1 class="text-center mb-4">Lista de Productos</h1>

            <!-- Tabla de productos -->
            <div class="row">
                <div class="col-12">
                    <form th:action="@{/productosPrecio}" method="get" class="mb-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label>
                                    <input type="number" name="minPrice" class="form-control" placeholder="Precio mínimo" />
                                </label>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <input type="number" name="maxPrice" class="form-control" placeholder="Precio máximo" />
                                </label>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                            </div>
                        </div>
                    </form>

                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" class="text-center">#</th>
                                <th scope="col" class="text-center">Nombre del Producto</th>
                                <th scope="col" class="text-center">Precio</th>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="product : ${productos}">
                                <td class="text-center" th:text="${product.id}"></td>
                                <td class="text-center" th:text="${product.nombre}">Nombre</td>
                                <td class="text-center" th:text="${product.precio}">Precio</td>
                                <td class="flex flex-col justify-content-between text-center">
                                    <form th:action="@{/productApi/deleteProduct/{id}(id=${product.id})}" method="post">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                    <div class="text-center">
                                        <a th:href="@{/web/formulario(id=${product.id})}" class="btn btn-success">Editar</a>
                                    </div>
                                    <form th:action="@{/chartApi/addProduct/{id}(id=${product.id})}" method="post">
                                        <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center mt-4">
                        <a href="/web/formulario" class="btn btn-success">Agregar Producto</a>
                    </div>

                    <div class="text-center mt-4">
                        <a href="/web/catalogo" class="btn btn-success">Ir al catálogo</a>
                    </div>

                    <div class="text-center">
                        <a th:href="@{/adminApi/exportDatabase}" class="btn btn-success">Exportar base de datos</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>